{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

{% include 'dashboard/navbar.html.twig' %}

<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="h3">Tableau de bord</h1>
        </div>
        {% for action in actions %}
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <a class="card bg-light text-dark" href="{{ path(action.path) }}">
                    <div class="card-body text-center">
                        <i class="fas fa-{{ action.icon }} fa-2x"></i>
                        <h5 class="card-title mt-2">{{ action.text }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <div class="row mt-3">
        {% for overview in overviews %}
            <div class="col-12 col-md-6 mt-3">
                <h2 class="h5">{{ overview.title }}</h1>
                <ul>
                    {% for item in overview.items %}
                        <li>
                            <a href="#{{ item.id }}">
                                {{ item.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
